/**************
LOGIN PAGE
**************/

.login-header{
    text-align: center;
    font-family: 'Changa One', cursive;
    font-size: 1.4em;
    background: #ff6781;
    padding: 20px 0 20px 0;
    color: #fff;
}

.account-section {
    text-align: center;
    background: #fff;
    box-shadow: 3px 3px 10px 2px #d8d8d8;
    width: 70%;
    margin: 40px auto 0 auto;
    padding: 10px 30px 50px;
    background: #f7f7f7;
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.login-input {
  border: 0;
  font-size: 13px;
  height: 25px;
  margin-bottom: 20px;
  padding-top: 4px;
}

.email-container {
    display: flex;
    flex-direction: column;
}

.account-title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 30px;
}

.login-label {
    margin-bottom: 10px;
}

.login-btn {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 16px;
    background: #000;
    border: 0;
    color: #fff;
    border-radius: 3px;
    padding: 5px 25px 5px 25px;
}